.contact-page-container {
  margin-top: 206px;
  //border: 2px red solid;

}

.offices-title-container {
  max-width: 1170px;
  margin: auto;
  margin-top: 55px;
}

.offices-title-container h1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 28px;
  color: #333645;
  text-transform: none;
}




.home-path-container {
  box-shadow: 0 5px 35px rgb(0 0 0 / 10%);

}

.home-path {
  padding: 14px 0 13px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1166px;
  height: 45px;
  font-size: .8125rem;
}

//Home button styling
.home-path a {
  color: #333645;
  font-weight: 700;
  font-size: 13px;

}

.home-path a:hover {
  text-decoration: underline;
}

.offices-container {
  display: flex;
  justify-content: space-around;
  max-width: 1170px;
  margin: auto;
  margin-bottom: 40px;
}

.offices-card {
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
  width: 370px;
  //height: 480px;
}

.offices-image img {
  height: 170px;
  width: 370px;

}

.content {
  padding: 20px;
}

.content h2 a {
  color: #333645;
  text-transform: none;
  font-size: 1.125rem;
}

.content h2 a:hover {
  text-decoration: underline;
} 

.content p {
  margin-top: 15px;
  font-size: .8125rem;
}

.offices-tel a {
  font-size: 1.625rem;
  font-weight: 700;
  color: $color-web-design;
}

.offices-tel a:hover {
  text-decoration: underline;
}


.btn-offices {
  background-color: $color-web-design;
  font-size: .9rem;
  text-transform: uppercase;  
  padding: 13px 32px;
  border-radius: 3px;
}

.btn-offices:hover {
  background-color: darken($color: $color-web-design, $amount: 10);
}

.more-info-offices {
  margin-top: 20px;
  margin-bottom: 15px;
}

.map-container {
  display: flex;
  justify-content: space-around;
  max-width: 1170px;
  margin: auto;
  margin-top: -40px;
}

.mapid { 
  height: 370px;
  width: 370px;
  z-index: 0;

}
