.contact-page-container {
  margin-top: 206px;
  //border: 2px red solid;

}

.offices-title-container {
  max-width: 1170px;
  margin: auto;
  margin-top: 55px;
}

.offices-title-container h1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 28px;
  color: #333645;
  text-transform: none;
}




.home-path-container {
  box-shadow: 0 5px 35px rgb(0 0 0 / 10%);

}

.home-path {
  padding: 14px 0 13px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1166px;
  height: 45px;
  font-size: .8125rem;
}

//Home button styling
.home-path a {
  color: #333645;
  font-weight: 700;
  font-size: 13px;

}

.home-path a:hover {
  text-decoration: underline;
}

.offices-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1170px;
  margin: auto;
  margin-bottom: 40px;

  @media only screen and (min-width: $break-l) {
    flex-direction: row;
  }
}

.offices-card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @media only screen and (min-width: $break-l) {
    width: 370px;

  }
}

.offices-border-div {
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgb(0 0 0 / 10%);

}

.offices-image img {
  width: 100%;
  height: 320px;
  @media only screen and (min-width: $break-l) {
  height: 170px;
  width: 370px;
}
}

.content {
  padding: 20px;
}

.content h2 a {
  color: #333645;
  text-transform: none;
  font-size: 1.125rem;
}

.content h2 a:hover {
  text-decoration: underline;
} 

.content p {
  margin-top: 15px;
  font-size: .8125rem;
}

.offices-tel a {
  font-size: 1.625rem;
  font-weight: 700;
  color: $color-web-design;
}

.offices-tel a:hover {
  text-decoration: underline;
}


.btn-offices {
  background-color: $color-web-design;
  font-size: .9rem;
  text-transform: uppercase;  
  padding: 13px 32px;
  border-radius: 3px;
}

.btn-offices:hover {
  background-color: darken($color: $color-web-design, $amount: 10);
}

.more-info-offices {
  margin-top: 20px;
  margin-bottom: 15px;
}

.map-container {
  display: flex;
  justify-content: space-around;
  max-width: 1170px;
  margin: auto;
  margin-top: -40px;
}

.mapid { 
  width: 100%;
  height: 320px;
  margin-right: auto;
  margin-left: auto;
  @media only screen and (min-width: $break-l) {
  height: 370px;
  width: 370px;
  z-index: 0;
}
}


.contact-form-container {
  border: greenyellow 1px solid;
  display: flex;
  justify-content: flex-start;
  max-width: 1170px;
  margin: auto;
  margin-top: 20px;
}

.contact-form {
  border: 1px red solid;
  width: 65%;
  height: 500px;
  background-color: #E6E7E9;
  margin-left: 0;
  border-radius: 10px;
  padding: 25px;

}

.contact-form-content {
  display: flex;
  flex-direction: column;
}

.contact-form-content label::after {
  content: ' *';
  color: red;
}


.submit-container-contact-form input[type=submit] {
  background-color: $color-web-design;
  margin-left: 0px;
}

.checkbox-text {
  font-weight: 600;
  width: 100%;
}











#email-contact a{
  font-weight: 600;
  color: $color-web-design !important;
  font-size: 1.625rem;
}

#email-contact:hover {
  text-decoration: underline;
}

.email-us-container {
  line-height: 1.875rem;
  margin-bottom: 25px;
  color: #333645;
  max-width: 350px;
  padding-left: 25px;
}

.email-us p {
  font-weight: 600;
  color: #333645;
}

#working-hours-drop-down {
  font-weight: 600;
  color: #333645;
}

#out-of-hours:hover {
  text-decoration: underline;
  cursor: pointer;
}

.drop-down-contact {
  //display: none;
  height: 0px;
  opacity: 0;
  // transition: height;
  // transition-duration: 1s;
  // transition-timing-function: ease-in;
}

.drop-down-contact p {
  color: #666;
}
