// CULTURE PART

.brand-div {
	//border: 2px green solid;
	background-color: #333645;

	@media only screen and (min-width: $break-l) {
		background-image: url(https://www.netmatters.co.uk/assets/images/branded.png);
	}
	@media only screen and (min-width: $break-xl) {
}
}

.brand-content {
	//border: 2px red solid;
	color: white;
	padding: 2rem 1rem;


	@media only screen and (min-width: $break-m) {

	width: 750px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.1rem;
	line-height: 2rem;
	}
	@media only screen and (min-width: $break-l) {
		padding: 2rem 2rem;
		font-size: 1.2rem;
		width: 1000px;
	}
	@media only screen and (min-width: $break-xl) {
		width: 1200px;
	}

}

.btn-culture {
	background-color: white;
	color: rgb(0, 0, 0);
	font-size: 1.063rem;
	width: 14rem;
	border-radius: 3px;
	margin-left: 0;
}

.btn-culture:hover {
	background-color: darken($color: white, $amount: 10%);
}

h2 {
	text-transform: uppercase;
}

.brand-text {
	@media only screen and (min-width: $break-xl) {
		max-width: 35rem;

	}
}
