//CONTACT US FOOTER

.footer-container {
	background-color: #333645;
	color: white;
	padding-left: .8rem;
	a:hover {
		text-decoration: underline;
	}
}

.footer-content {
	@media only screen and (min-width: $break-m) {
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	@media only screen and (min-width: $break-l) {
		justify-content: space-evenly;
	}
	@media only screen and (min-width: $break-xl) {
		display: flex;
		flex-wrap: nowrap;
		min-width: 1200px;
		justify-content: center;
}
}

.contact-us {
	list-style-type: none;
	padding-left: 0;
	@media only screen and (min-width: $break-m) {
		width: 350px;
	}	
	@media only screen and (min-width: $break-l) {
		margin-right: 15rem;
	}
	@media only screen and (min-width: $break-xl) {
		max-width: 250px;
		margin-right: 0;
}
}

.about-netmatters {
	list-style-type: none;
	padding-left: 0;
	@media only screen and (min-width: $break-m) {
		width: 350px;
	}
	@media only screen and (min-width: $break-xl) {
		max-width: 250px;
}
}

.website {
	list-style-type: none;
	padding-left: 0;	
	@media only screen and (min-width: $break-m) {
		width: 350px;
	}
	@media only screen and (min-width: $break-xl) {
		max-width: 250px;
}
}

.social-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	@media only screen and (min-width: $break-m) {
		justify-content: space-between;
		max-width: 350px;
}
}


.social-media {
	max-width: 640px;
	@media only screen and (min-width: $break-s) {
	}
	@media only screen and (min-width: $break-m) {
	max-width: 455px;
	}
	@media only screen and (min-width: $break-l) {
	margin-left: 15rem;
	}
	@media only screen and (min-width: $break-xl) {
	min-width: 8rem;
	margin-left: 1rem;
	max-width: 420px;
	}
}

.social-media-logos {
	border: 2px rgba(255, 255, 255, 0) solid;
	transform: scale(2);
	margin: 3rem;
	padding: 0.1rem 2rem;
	background-color: darken($color: #333645, $amount: 8%);
	@media only screen and (min-width: $break-s) {
		padding: 0.1rem 2.8rem;
		margin: 3.5rem;
	}
	@media only screen and (min-width: $break-m) {
		margin: 15px;
		padding: 0.1rem 1.8rem;
		margin: 2rem;
	}
}

.social-media-text {
	@media only screen and (min-width: $break-m) {
		position: relative;
		right: 11.5rem;
		height: 0.1px;
	}	
	@media only screen and (min-width: $break-xl) {
		position: relative;
		right: 300.5rem;
		height: 0.1px;
}
}

h4 {
	text-transform: uppercase;
	padding-bottom: 1rem;
	padding-top: 1.5rem;
	font-size: 1rem;
}

.social-media-logos-fb:hover {
	background-color: #4064AC;
}

.social-media-logos-twitter:hover {
	background-color: #1C9CEA;
}

.social-media-logos-insta:hover {
	background-color: #E1306C;
}

.social-media-logos-linkedin:hover {
	background-color: #2867B2;
}
.social-logo {
	color: white;
}