.header-container {
  height: 12rem;
   
  @media only screen and (min-width: $break-m ) {
    display: flex;
    justify-content: center;
    height: 8rem;
  }
    @media only screen and (min-width: $break-xl ) {
    display: flex;
    justify-content: center;
    height: 8rem;
  }
  }

.btn {
  @include btn;
    &-support {
      background-color: $color-button-blue;
      display: none;
      @media only screen and (min-width: $break-l) {
        display: block;      
      }
  }
    &-contact {
      background-color: $color-button-gray;
      display: none;
      @media only screen and (min-width: $break-l) {
        display: block;
      }
    }
  }

.btn-menu {
  color: white;
  width: 4.2rem;
  height: 3.5rem;
  font-size: 12px;
  text-transform: uppercase;
  background-color: black;
  border-radius: 7%;
  border: 2px black solid;
  position: relative;
  bottom: 5.7rem;
  left: 6rem;
  @media only screen and (max-width: $break-s) {
    bottom: 4.7rem;
  }
  @media only screen and (min-width: $break-m ) {
    float: right;
    position: relative;
    top: 0.3rem;
    left: 16rem;
    @media screen and (-ms-high-contrast: none) {
      position: absolute;
      top: 1.3rem;
      left: 26rem;
    }
}
  @media only screen and (min-width: $break-l) {
    left: 10.2rem;
    top: 0.3rem;
    height: 60px;
    width: 65px;
    @media screen and (-ms-high-contrast: none) {
      position: relative;
      top: 0.25rem;
      left: 10rem;
      }
  }
  @media only screen and (min-width: $break-xl ) {
    position: relative;
    top: 0.3rem;    
    left: 8rem;    
}
}

.phone-icon {
  color: black !important;
  position: relative;
  top: -2.5rem;
  left: -7rem;
  float: right;
  z-index: 10000;
  @media only screen and (max-width: $break-s) {
    top: -1.5rem;

  }
  @media only screen and (min-width: $break-m) {
    display: none;
  }
 }
  
.btn-menu:hover {
  background-color: darken($color: #333645, $amount: 10%)
  }

.btn-top {
  display: flex;
  justify-content: flex-start;
  max-height: 100px;
  width: 105%;
  position: relative;
  top: -0.3rem;
  @media only screen and (min-width: $break-m) {
    position: relative;  
  @media screen and (-ms-high-contrast: none) {
    position: relative;
    left: -10rem;
  }
    }
  @media only screen and (min-width: $break-l) {
    position: relative;
    left: 5rem;
    max-width: 37rem;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    left: 0;

  }
}

  @media only screen and (min-width: $break-xl) {
    height: 6rem;
    width: 45rem;
    position: relative;
    left: -1rem;
  }
  }

.fa-paper-plane,
.fa-mouse {
  display: inline;
}

.btn-support:hover{
  background-color: darken($color: $color-button-blue, $amount: 10%);    
}

.btn-contact:hover{
  background-color: darken($color: $color-button-gray, $amount: 10%);
}

a {
  color: white;
  text-decoration: none;
  }
  
a:hover {
  color: white;
  }
  
i {
  color: white;
  }
  
.netmatters-logo {
  height: auto;
  max-width: 60%;
  @media only screen and (min-width: $break-m) {
    max-width: 160%;
  }
}

.logo {
  padding: 15px 0 0 15px;
  margin-left: .1rem;
  z-index: 100;
  @media only screen and (min-width: $break-xl) {

  position: relative;
  left: -4rem;
  }
  }

.fas {
  padding: 5px;
  }
  
.fa-search {
  color: black;
  background-color: #E5E5E5;
  height: 20px;
  padding: 10px;
  margin-left: -9px;
  @media only screen and (min-width: $break-m) {
    color: white;
    background-color: $color-button-gray;
    padding: 16px;
    padding-top: 17px;
    height: 3.5rem;
    width: 3.5rem;    
    border-radius: 2px;
    position: relative;
    top: -0.2rem;
    left: 7rem;
  }
  @media only screen and (min-width: $break-l) {
    position: relative;
    left: -1.5rem;
    top: -0.25rem;
    border-radius: 5px;
    height: 60px;
    width: 65px;
    padding-top: 22px;
    margin-left: 0;
  }
  @media only screen and (min-width: $break-xl) {
    color: white;
    background-color: $color-button-gray;
    top: -0.25rem;
    left: -2.5rem;
    border-radius: 2px;
    min-width: 65px;
  }
  }

.fa-search:hover {
  @media only screen and (min-width: $break-m ) { 
    background-color: darken($color: $color-button-gray, $amount: 10%);
  }
}


.form-control {
  background-color: #e5e5e5;
  border: none;
  @media only screen and (min-width: $break-m) {
    display: flex;
    width: 12rem;
    height: 55px;
    font-size: 0.9rem;
    color: $color-button-gray;
    border: 1px #DCDCDC solid;
    border-radius: 1%;
    background-color: white;
    position: relative;
    top: -0.15rem;
    left: 7rem;
  }
  @media only screen and (min-width: $break-l) {
    display: none;
    position: inherit;
  }
  @media only screen and (min-width: $break-xl) {
    display: flex;
    height: 60px;
    position: relative;
    left: -2rem;
    top: -0.25rem;
  }
}

.form-control:focus {
  background-color: #E5E5E5;
  border-color:  #E5E5E5;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(229, 229, 229);
  @media only screen and (min-width: $break-m ) {
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0,198,255,0.77);
    border-color: #CCCCCC;
  }
}

.container-search {
  width: 95%;
  margin-right: -180px;
  border: 3px #DCDCDC solid;
  background-color: #E5E5E5;
  @media only screen and (min-width: $break-m) {
    max-width: 300px;
    margin-left: 2rem;
    background-color: white;
    border: none;
}
  @media only screen and (min-width: $break-l) {
    max-width: 85px;

}
@media only screen and (min-width: $break-xl) {
  max-width: 300px;

}
}


form {
//border: 2px red solid;
@media only screen and (min-width: $break-l) {
  max-width: 10rem;
}
@media only screen and (min-width: $break-xl) {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  max-width: 25rem;
}
}
}