//Mixins
@mixin search-md-screen{
	max-width: 20vw;
		height: 45px;
		font-size: 0.9rem;
		color: $color-button-gray;
		border: 1px $color-button-gray solid;
		border-radius: 1%;
		background-color: white;
		position: absolute;
		left: 27rem;
}

@mixin navbar-flexbox-container {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 13.9rem;
	left: 0;
	height: 45px;
	width: 100%;
	z-index: 100;
	font-weight: 600;
}

@mixin navbar-flexbox-items {
	margin: 5px;
	padding: 5px;
	display: block;

	}
	
@mixin btn {
	border: none;
	border-radius: 5px;
	color: white;
	padding: 15px 10px 10px 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600;
	margin: 5px 8px;
	}

@mixin cards {
	border: 1px rgb(187, 187, 187) solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 90%;
	margin: 1rem 0;
	text-align: center;
	padding: 0.8rem;
	}

@mixin news-title-style {
	font-size: 1rem;
	font-weight: 600;
}

@mixin button-news-colour {
	color: white;
	margin: 30px;
	width: 190px;
}
