//Mixins
@mixin search-md-screen{
	max-width: 20vw;
		height: 45px;
		font-size: 0.9rem;
		color: $color-button-gray;
		border: 1px $color-button-gray solid;
		border-radius: 1%;
		background-color: white;
		position: absolute;
		left: 27rem;
}

@mixin navbar-flexbox-container {
	//border: 2px greenyellow solid;
	display: flex;
	// position: absolute;
	// left: 0;
	height: 45px;
	z-index: 100;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	@media screen and (min-width: $break-l) {
		width: 1003px;
	}
	@media screen and (min-width: $break-xl) {
	width: 1211px;
}
}

@mixin navbar-flexbox-items {
	margin-top: 5px;
	padding-top: 5px;
	display: block;
	}
	
@mixin btn {
	border: none;
	border-radius: 5px;
	color: white;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600;
	margin: 5px 8px;
  @media screen and (-ms-high-contrast: none) {
		font-weight: 600;	
		padding: 15px 7px;
		font-family: Poppins,sans-serif;
		font-size: 1rem;
	}
	}

@mixin cards {
	border: 1px rgb(187, 187, 187) solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 90%;
	margin: 1rem 0rem;
	text-align: center;
	padding: 0.8rem;
	@media screen and (-ms-high-contrast: none) {
		font-family: Lato,Helvetica,Arial,sans-serif;    
	}
	@media only screen and (min-width: $break-m) {
		margin: 1rem 1rem;

	}
	}

@mixin news-title-style {
	font-size: 1rem;
	font-weight: 600;
}

@mixin button-news-colour {
	color: white;
	margin: 30px;
	font-weight: 400;
	font-size: 1.1rem;
}

@mixin second-nav-background {
	width: 100vw;
	height: 45px;
	position: absolute;
	left: 0;
	z-index: 100;
	}

	@mixin image-caption {
		color: white;
		font-weight: 600;
		font-size: 0.8rem;
		padding: 3px 10px;
		margin: 20px 0 0 370px;
		position: absolute;
		top: -.5rem;
		right: 0rem;

	}
	@mixin m-size-width-first-child {
		max-width: 720px;
	}

	@mixin m-size-width-last-child {
		max-width: 342px;
	}
	
	@mixin l-size-width-first-child {
		max-width: 290px;
	}

	@mixin l-size-width-last-child {
		max-width: 452px;
		min-width: 452px;
	}

	@mixin xl-size-width-first-child {
		min-width: 355px;
	}

	@mixin xl-size-width-last-child {
		min-width: min-content;
		@media screen and (-ms-high-contrast: none) {
			min-width: 200px;
		}	
		max-width: 258px;
	}



