//NAVIGATION BAR

.main-navigation {
  background: #333645;
  border-bottom: solid 1px white;
  display: none;
  text-transform: uppercase;
  max-height: 95px;
  width: 100%;

	@media screen and (min-width: $break-l) {
		display: flex;
		justify-content: center;
		border: 4px #eb64ae solid;

	}
}

.btn-navbar {
	background-color: $color-navbar;
	width: 150px;
	line-height: 0.3;
	text-transform: uppercase;
	border-right: 2px gray solid;
	font-weight: 600;
	font-weight: 600;

	@media only screen and (min-width: $break-xl ) {
		width: 190px;
	}
}

.container {
	border: 4px #2ECC71 solid;
	display: flex;
	justify-content: center;
	min-width: 100%;

}

.li-main {
	display: inline-table;
	margin: 0 -5px;
}

.li-sub {
	display: none;
	font-size: 0.8rem;
	@media screen and (min-width: $break-xl) {
		font-size: 0.9rem;
	}
}

.li-web-design:hover { 
	.btn-web-design {
		background-color: greenyellow !important;
	}
}

.web-design:hover {
	.web-design-ul { //flexbox container
		@include navbar-flexbox-container;
		background-color: darken($color: $color-web-design, $amount: 10%);


	}


	.li-web-design { //flexbox items
		@include navbar-flexbox-items;
		
		}
		.dash-2 {
			display: block;
		}
	
	}







.it:hover {
	.it-ul {
		@include navbar-flexbox-container;
		background-color: darken($color: $color-it, $amount: 10%);
	}
	.li-it {
		@include navbar-flexbox-items;	
		}
		.dash-2 {
			display: block;
		}
	
}

.telecoms:hover {
	.telecoms-ul {
		@include navbar-flexbox-container;
		background-color: darken($color: $color-telecoms, $amount: 10%);

	}
	.li-telecoms {
		@include navbar-flexbox-items;
		}
		.dash-2 {
			display: block;
		}
	
}

.software:hover {
	.software-ul {
		@include navbar-flexbox-container;
		background-color: darken($color: $color-software, $amount: 10%);

	}
	.li-software {
		@include navbar-flexbox-items;
		
		}
		.dash-2 {
			display: block;
		}
	
}

.digital-marketing:hover {
	.digital-marketing-ul {
		@include navbar-flexbox-container;
		background-color: darken($color: $color-digital-marketing, $amount: 10%);

	}
	.li-digital-marketing {
		@include navbar-flexbox-items;
		
		}
		.dash-2 {
			display: block;
		}
	
}

.cyber-security:hover {
	.cyber-security-ul {
		@include navbar-flexbox-container;
		background-color: darken($color: $color-cyber-security, $amount: 10%);

	}
	.li-cyber-security {
		@include navbar-flexbox-items;
		
		}
		.dash-2 {
			display: block;
		}
	
}




//NAV BAR COLOURS
.btn-web-design:hover {
	background-color: $color-web-design;
	.fa-code {
		color: $color-icon;
	}
}

.fa-code {
	color: $color-web-design;
}

.btn-it:hover {
	background-color: $color-it;
	.fa-tv {
		color: $color-icon;
	}
}

.fa-tv {
	color: $color-it;
}

.btn-telecoms:hover {
	background-color: $color-telecoms;
	.fa-phone-alt {
		color: $color-icon;
	}
}

.fa-phone-alt {
	color: $color-telecoms;
}

.btn-software:hover {
	background-color: $color-software;
	.fa-th {
		color: $color-icon;
	}
}

.fa-th {
	color: $color-software;
}

.btn-digital-marketing:hover {
	background-color: $color-digital-marketing;
	.fa-signal {
		color: $color-icon;
	}
}

.fa-signal {
	color: $color-digital-marketing;
}

.btn-cyber-security:hover {
	background-color: $color-cyber-security;
	.fa-shield-alt {
		color: $color-icon;
	}
}

.fa-shield-alt {
	color: $color-cyber-security;
}

.dash-2 {
	display: none;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	padding: 8px 17px;
}

small {
	font-size: .6rem;
}