// NEWS CARDS


.news-latest {
	text-transform: uppercase;
	font-size: 1.5rem;
	border-bottom: 6px black solid;	
	padding-bottom: 20px;
	width: 90px;
	margin-left: 10px;
	margin-top: 40px;
	display: flex;

}

.news-cards-container {
	background: linear-gradient(to bottom, #F0F0F0, #FFFFFF);
	padding-top: 3rem;
	@media only screen and (min-width: $break-m) {
		display: flex;
		justify-content: center;
	}
}

.news-cards-content {
	max-width: 100%;
	font-family: Poppins, sans-serif;
	@media only screen and (min-width: $break-m) {
		display: flex;
	}
}

.news-card {
	border: 1px $color-button-gray solid;
	width: 452px;
	margin: 1rem 1rem;
	background-color: white;
	height: 38rem;
	max-width: 95%;
	@media only screen and (min-width: $break-s) {
		max-width: 90%;
		width: auto;
		height: 45rem;
	}
	@media only screen and (min-width: $break-m) {
		// display: flex;
		// justify-content: center;
		max-width: 350px;
		height: 34rem;
	}
	@media only screen and (min-width: $break-l) {
		max-width: 450px;
		overflow: hidden;
		height: 38rem;
}
	@media only screen and (min-width: $break-xl) {
		height: 38rem;
}
}

.image-caption-1, 
.image-caption-2, 
.image-caption-3 {
	color: white;
	font-weight: 600;
	font-size: 0.8rem;
	padding: 3px 10px 3px 10px;
	margin: 20px 0 0 370px;
	background-color: $color-news-3;
	position: relative;
	bottom: 275px;
	float: right;
	
	@media only screen and (min-width: $break-s) {
		bottom: 320px;

	}

	@media only screen and (min-width: $break-m) {
		bottom: 220px;	
	}
	@media only screen and (min-width: $break-l) {
		bottom: 275px;
	}
}

.caption-link {
	color: white;
}

.image-caption-1 {
	background-color: $color-news-1;
}

.image-caption-2 {
	background-color: $color-news-2;
}

.image-caption-1:hover, 
.image-caption-2:hover, 
.image-caption-3:hover {
	text-decoration: underline;
}

.news-card-3 {
	@media only screen and (min-width: $break-m) {
		display: none;
}
	@media only screen and (min-width: $break-xl) {
		display: block;
}}

.photo-hiring,
.photo-hand,
.photo-rob {
	width: 100%;
}

.photo-rob:hover,
.photo-hiring:hover,
.photo-hand:hover {
	@media only screen and (min-width: $break-l) {
		transform: scale(1.1);
		opacity: .7;
		transition: 0.4s;

	}
}

a.news-1-title {
	color: $color-news-1;
	@include news-title-style;
	@media only screen and (min-width: $break-s) {
		padding: 0px;
	}
	@media only screen and (min-width: $break-m) {
	}
}

a.news-2-title {
	color: $color-news-2;
	//padding: 30px 30px 15px;
	@include news-title-style;
	@media only screen and (min-width: $break-s) {
		padding: 0px;
	}
	@media only screen and (min-width: $break-m) {
	}
}

a.news-3-title {
	color: $color-news-3;
	padding: 30px 0;
	@include news-title-style;
}

.news-1-title:hover,
.news-2-title:hover,
.news-3-title:hover {
	text-decoration: underline;
}

.news-text {
	color: black;
	padding-left: 30px;
	font-size: 0.9rem;
}

.btn-news-card-1 {
	@include button-news-colour;
	background-color: $color-news-1;
}

.btn-news-card-2 {
	@include button-news-colour;
	background-color: $color-news-2;

}
.btn-news-card-3 {
	@include button-news-colour;
	background-color: $color-news-3;
}

.btn-news-card-1:hover {
	color: white;
	background-color: darken($color: $color-news-1, $amount: 10%);
}

.btn-news-card-2:hover {
	color: white;
	background-color: darken($color: $color-news-2, $amount: 10%);
}

.btn-news-card-3:hover {
	color: white;
	background-color: darken($color: $color-news-3, $amount: 10%);
}

.news-card hr {
	text-align: center;
	margin: 0 auto;
	width: 80%;
}

.photo-news {
	padding-top: 1rem;
}

.photo-news-1 {
	border-radius: 50%;
	margin: 1rem;
}

.posted-by {
	color: black;
	font-weight: 600;
	position: relative;
	bottom: 4.4rem;
	padding-left: 5.4rem;
}

.news-date {
	color: black;
	padding-left: 5.4rem;
	position: relative;
	bottom: 4.3rem;
	padding-bottom: 0;
}

h3 {
	padding-left: 30px;
}

