// NEWSLETTER FORM

.newsletter {
	//border: 2px #030000 solid;
	padding: 1.5rem;
	background-color: #DDDDDD;
	font-weight: 600;
	display: flex;
	justify-content: center;
}

.form-content {
	//border: 2px #4183D7 solid;
	@media only screen and (min-width: $break-l) {
	height: 100px;
	display: flex;
}
}

.name { //name and email position 
	margin-bottom: 3px;
	margin-top: 10px;
	display: flex;
	//background-color: pink;
	@media only screen and (min-width: $break-l) {
		 min-width: 20rem;
		 position: relative;
		 height: 1rem;
		}
}

.email-field {
	//border: 2px greenyellow solid;
	@media only screen and (min-width: $break-l) {
		//border: 2px orangered solid;
		margin-left: 130px;
	}
	@media only screen and (min-width: $break-xl) {
		margin-left: 250px;
	}
}

.input {
	height: 40px;
	margin-top: 10px;
	width: 100%;
	border: 1px solid #ccc;
	transition: .5s;
	outline: none;
	@media only screen and (min-width: $break-l) {
	width: 130%;
	}
	@media only screen and (min-width: $break-xl) {
		width: 170%;
}
}

.input:focus {
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,198,255,0.77); 
	box-shadow: 0px 0px 5px 1px rgba(0,198,255,0.77);
}

.newsletter-content {
	//border: 2px #fffb1b solid;
	max-width: 100%;
	
	@media only screen and (min-width: $break-l) {
	margin: 2rem 1rem;
	}
	@media only screen and (min-width: $break-xl) {
		margin: 2rem 2rem;
}	
}

.privacy-text {
	color: black;
	text-decoration: underline;
}
.privacy-text:hover {
	color: black;
}

.submit-container {
	//border: 2px red solid;
	margin-left: -37px;
}

.form-container {
	//border: 2px #2ECC71 solid;
	font-size: 2rem;
	padding: 0.5rem;
}

.checkbox-text {
	padding-left: 0;
	line-height: 1.8;
	position: relative;
	bottom: 2.5rem;
	left: 2.2rem;
	width: 95%;
}

.checkbox {
	height: 32px;
	width: 32px;
	margin-top: 10px;
}


input[type=submit] {
	background-color: #333645;
	color: white;
	text-transform: uppercase;
	padding: 10px;
	font-weight: 600;
	border-radius: 5px;
	margin-top: 20px;
	border: none;
}

input[type=submit]:hover {
	background-color: darken($color: #333645, $amount: 10%);
}



// input[type=text]:focus {
// 	border: 3px solid rgb(98, 205, 248);

// }

.asterix {
	color: red;
}


