// NEWS CARDS

.news-latest {
	text-transform: uppercase;
	font-size: 1.5rem;
	border-bottom: 6px black solid;	
	padding-bottom: 20px;
	width: 90px;
	margin-left: 10px;
	margin-top: 40px;
}

.news-cards-container {
	background: linear-gradient(to bottom, #F0F0F0, #FFFFFF);
	padding-top: 3rem;
	@media only screen and (min-width: $break-m) {
		display: flex;
		justify-content: center;
	}
}

.news-cards-content {
	@media only screen and (min-width: $break-m) {
		display: flex;
	}
}

.news-card {
	border: 1px $color-button-gray solid;
	width: 452px;
	margin: 1rem 1rem;
	background-color: white;
	@media only screen and (min-width: $break-s) {
		max-width: 90%;
		width: auto;
	}
	@media only screen and (min-width: $break-m) {
		// display: flex;
		// justify-content: center;
		max-width: 350px;
	}
		@media only screen and (min-width: $break-l) {
		max-width: 450px;
		overflow: hidden;

}
}

.news-card-3 {
	@media only screen and (min-width: $break-m) {
		display: none;
}
	@media only screen and (min-width: $break-xl) {
		display: block;
}}

.photo-hiring,
.photo-hand,
.photo-rob {
	width: 100%;
}

.photo-rob:hover,
.photo-hiring:hover,
.photo-hand:hover {
	@media only screen and (min-width: $break-l) {
		transform: scale(1.1);
		opacity: .7;
		transition: 0.4s;

	}
}

#news-1-title {
	color: $color-news-1;
	@include news-title-style;
}

#news-2-title {
	color: $color-news-2;
	@include news-title-style;
}

#news-3-title {
	color: $color-news-3;
	@include news-title-style;
}

#news-1-title:hover,
#news-2-title:hover,
#news-3-title:hover {
	text-decoration: underline;
}

#news-text {
	color: black;
	padding-left: 30px;
	font-size: 0.9rem;
}

.btn-news-card-1 {
	@include button-news-colour;
	background-color: $color-news-1;
}

.btn-news-card-2 {
	@include button-news-colour;
	background-color: $color-news-2;

}
.btn-news-card-3 {
	@include button-news-colour;
	background-color: $color-news-3;
}

.btn-news-card-1:hover {
	color: white;
	background-color: darken($color: $color-news-1, $amount: 10%);
}

.btn-news-card-2:hover {
	color: white;
	background-color: darken($color: $color-news-2, $amount: 10%);
}

.btn-news-card-3:hover {
	color: white;
	background-color: darken($color: $color-news-3, $amount: 10%);
}

.news-card hr {
	text-align: center;
	margin: 0 auto;
	width: 80%;
}

.photo-news {
	padding-top: 1rem;
}

.photo-news-1 {
	border-radius: 50%;
	margin: 1rem;
}

.posted-by {
	color: black;
	font-weight: 600;
	position: relative;
	bottom: 4.4rem;
	padding-left: 5.4rem;
}

.news-date {
	color: black;
	padding-left: 5.4rem;
	position: relative;
	bottom: 4.3rem;
}

