@import "variables";
@import "mixins";
@import "header";
@import "navbar";
@import "main-photo";
@import "cards";
@import "culture";
@import "news-cards";
@import "client-logos";
@import "newsletter";
@import "footer";
@import "awards";

body {
    font-size: 1rem;
		font-weight: 400;
    font-family: "Poppins";
    //font-family: "Poppins", "Helvetica", "Arial", sans-serif;

    @media screen and (-ms-high-contrast: none) {
    font-family: Lato,Helvetica,Arial,sans-serif;
    }
  
}
