body {
  font-family: Poppins,sans-serif;
  font-size: 1rem;
}

.header-container {
  border: 5px green solid;
  height: 12rem;
}

@media only screen and (min-width: 768px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 8rem;
  }
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 5px 8px;
}

.btn-support {
  background-color: #4183d7;
  display: none;
}

@media only screen and (min-width: 992px) {
  .btn-support {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.btn-contact {
  background-color: #999aa2;
  display: none;
}

@media only screen and (min-width: 992px) {
  .btn-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .btn {
    display: inline-block;
    width: 55rem;
  }
}

.btn-menu {
  color: white;
  width: 4.2rem;
  height: 3.5rem;
  font-size: 12px;
  text-transform: uppercase;
  background-color: black;
  border-radius: 7%;
  border: 2px black solid;
  position: relative;
  bottom: 5.7rem;
  left: 2rem;
}

@media only screen and (min-width: 768px) {
  .btn-menu {
    float: right;
    position: inherit;
  }
}

@media only screen and (min-width: 1200px) {
  .btn-menu {
    position: relative;
    top: 0.1rem;
    left: 12rem;
  }
}

.btn-menu:hover {
  background-color: #1d1f28;
}

.btn-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px black solid;
  max-height: 100px;
  max-width: 100%;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .btn-top {
    height: 6rem;
    width: 45rem;
  }
}

.btn-support:hover {
  background-color: #286abd;
}

.btn-contact:hover {
  background-color: #7e808a;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

i {
  color: white;
}

.logo {
  padding: 15px 0 0 15px;
  margin-left: .1rem;
}

.fas {
  padding: 5px;
}

.fa-search {
  color: black;
  background-color: #E5E5E5;
  height: 20px;
  padding: 11px;
  margin-left: -9px;
}

@media only screen and (min-width: 768px) {
  .fa-search {
    color: white;
    background-color: #999aa2;
    padding: 15px;
    height: 2.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .fa-search {
    color: white;
    background-color: #999aa2;
    padding: 15px;
    height: 2.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .fa-search:hover {
    background-color: #7e808a;
  }
}

.form-control {
  background-color: #e5e5e5;
  border: 10px green solid;
}

@media only screen and (min-width: 768px) {
  .form-control {
    max-width: 20vw;
    height: 45px;
    font-size: 0.9rem;
    color: #999aa2;
    border: 1px #999aa2 solid;
    border-radius: 1%;
    background-color: white;
    position: absolute;
    left: 27rem;
  }
}

@media only screen and (min-width: 992px) {
  .form-control {
    display: none;
    position: inherit;
  }
}

@media only screen and (min-width: 1200px) {
  .form-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 340px;
  }
}

.container-search {
  width: 100%;
  margin-left: -80px;
  margin-right: -180px;
  background-color: #E5E5E5;
}

@media only screen and (min-width: 768px) {
  .container-search {
    max-width: 300px;
    margin-left: 1rem;
    background-color: white;
  }
}

.main-navigation {
  background: #333645;
  border-bottom: solid 1px white;
  display: none;
  text-transform: uppercase;
  max-height: 95px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px #eb64ae solid;
  }
}

.container {
  border: 2px #2ECC71 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 1400px;
}

.li-main {
  display: inline-table;
  margin: 0 -5px;
}

.li-sub {
  display: none;
  font-size: 1rem;
}

@media screen and (min-width: 1200px) {
  .li-sub {
    font-size: 0.9rem;
  }
}

.li-sub:hover .li-main {
  background-color: #926FB1;
}

.web-design:hover .web-design-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0px;
  height: 45px;
  width: 100%;
  background-color: #926FB1;
}

.web-design:hover .li-web-design {
  margin: 5px;
  padding: 5px;
  display: block;
}

.it:hover .it-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0px;
  height: 45px;
  width: 100%;
  background-color: #4183D7;
}

.it:hover .li-it {
  margin: 5px;
  padding: 5px;
  display: block;
}

.telecoms:hover .telecoms-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0px;
  height: 45px;
  width: 100%;
  background-color: #D64541;
}

.telecoms:hover .li-telecoms {
  margin: 5px;
  padding: 5px;
  display: block;
}

.software:hover .software-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0px;
  height: 45px;
  width: 100%;
  background-color: #67809F;
}

.software:hover .li-software {
  margin: 5px;
  padding: 5px;
  display: block;
}

.digital-marketing:hover .digital-marketing-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0px;
  height: 45px;
  width: 100%;
  background-color: #2ECC71;
}

.digital-marketing:hover .li-digital-marketing {
  margin: 5px;
  padding: 5px;
  display: block;
}

.cyber-security:hover .cyber-security-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0px;
  height: 45px;
  width: 100%;
  background-color: #F62459;
}

.cyber-security:hover .li-cyber-security {
  margin: 5px;
  padding: 5px;
  display: block;
}

.btn-navbar {
  background-color: #333645;
  width: 150px;
  line-height: 0.3;
  text-transform: uppercase;
  border-right: 2px gray solid;
}

@media only screen and (min-width: 1200px) {
  .btn-navbar {
    width: 195px;
  }
}

.btn-web-design:hover {
  background-color: #926FB1;
}

.btn-web-design:hover .fa-code {
  color: white;
}

.fa-code {
  color: #926FB1;
}

.btn-it:hover {
  background-color: #4183D7;
}

.btn-it:hover .fa-tv {
  color: white;
}

.fa-tv {
  color: #4183D7;
}

.btn-telecoms:hover {
  background-color: #D64541;
}

.btn-telecoms:hover .fa-phone-alt {
  color: white;
}

.fa-phone-alt {
  color: #D64541;
}

.btn-software:hover {
  background-color: #67809F;
}

.btn-software:hover .fa-th {
  color: white;
}

.fa-th {
  color: #67809F;
}

.btn-digital-marketing:hover {
  background-color: #2ECC71;
}

.btn-digital-marketing:hover .fa-signal {
  color: white;
}

.fa-signal {
  color: #2ECC71;
}

.btn-cyber-security:hover {
  background-color: #F62459;
}

.btn-cyber-security:hover .fa-shield-alt {
  color: white;
}

.fa-shield-alt {
  color: #F62459;
}
/*# sourceMappingURL=style.css.map */