//Variables
$color-button-blue: #4183d7;
$color-button-gray: #999aa2;

$color-navbar: #333645;
$color-web-design: #926FB1;
$color-it: #4183D7;
$color-telecoms: #D64541;
$color-software: #67809F;
$color-digital-marketing: #2ECC71;
$color-cyber-security: #F62459;




//Mixins
@mixin search-md-screen{
			max-width: 20vw;
				height: 45px;
				font-size: 0.9rem;
				color: $color-button-gray;
				border: 1px $color-button-gray solid;
				border-radius: 1%;
				background-color: white;
				position: absolute;
				left: 27rem;
}

//Breakpoints
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1200px;




// Media queries
@media only screen and (max-width: 575px ) {} //xs
@media only screen and (min-width: 576px ) {}     //s
@media only screen and (min-width: 768px ) {}     //m
@media only screen and (min-width: 992px ) {}     //l
@media only screen and (min-width: 1200px ) {}    //xl



body {
    font-family: Poppins,sans-serif;
    font-size: 1rem;
}


	.header-container {
		border: 5px green solid;
		height: 12rem;
		 
		@media only screen and (min-width: $break-m ) {
			display: flex;
			justify-content: center;
			height: 8rem;
		}
      @media only screen and (min-width: $break-xl ) {
			display: flex;
			justify-content: center;
			height: 8rem;
		}
    }

  .btn {
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.2rem;
		margin: 5px 8px;
			&-support {
				background-color: $color-button-blue;
				display: none;
				@media only screen and (min-width: $break-l ) {
					display: flex;
				}
		}
			&-contact {
				background-color: $color-button-gray;
				display: none;
				@media only screen and (min-width: $break-l ) {
					display: flex;
				}
		}
			@media only screen and (min-width: $break-xl ) {
				display: inline-block;
				width: 55rem;
        }
    }
 .btn-menu {
		color: white;
		width: 4.2rem;
		height: 3.5rem;
		font-size: 12px;
		text-transform: uppercase;
		background-color: black;
		border-radius: 7%;
		border: 2px black solid;
		position: relative;
		bottom: 5.7rem;
		left: 2rem;
			@media only screen and (min-width: $break-m ) {
				float: right;
				position: inherit;
  }
			@media only screen and (min-width: $break-xl ) {
				position: relative;
				top: 0.1rem;
				left: 12rem;
  }
  }
    
  .btn-menu:hover {
    background-color: darken($color: #333645, $amount: 10%)
    }

  .btn-top {
		display: flex;
		justify-content: space-around;
		border: 2px black solid;
		max-height: 100px;
		max-width: 100%;
		width: 100%;

		@media only screen and (min-width: $break-m ) {
		}

		@media only screen and (min-width: $break-l ) {
			
	}

			@media only screen and (min-width: $break-xl ) {
				height: 6rem;
				width: 45rem;
			
    }
    }

  .btn-support:hover{
    background-color: darken($color: $color-button-blue, $amount: 10%);    
}

  .btn-contact:hover{
    background-color: darken($color: $color-button-gray, $amount: 10%);
}
	a {
		color: white;
		text-decoration: none;
    }
    
  a:hover {
    color: white;
    }
    
  i {
    color: white;
    }
    
  .logo {
		padding: 15px 0 0 15px;
		margin-left: .1rem;
		@media only screen and (min-width: $break-m ) {
		}

		@media only screen and (min-width: $break-l ) {
			
	}

			@media only screen and (min-width: $break-xl ) {

			}
    }


  .fas {
    padding: 5px;
    }
    
 
  .fa-search {
		color: black;
		background-color: #E5E5E5;
		height: 20px;
		padding: 11px;
		margin-left: -9px;
			@media only screen and (min-width: $break-m ) {
				color: white;
				background-color: $color-button-gray;
				padding: 15px;
				height: 2.8rem;
				
		}
			@media only screen and (min-width: $break-xl ) {
				color: white;
				background-color: $color-button-gray;
				padding: 15px;
				height: 2.8rem;
    }
    }
	.fa-search:hover {
      @media only screen and (min-width: $break-m ) { 
        background-color: darken($color: $color-button-gray, $amount: 10%);
    }
	}
	
  .form-control {
		background-color: #e5e5e5;
		border: 10px green solid;
      @media only screen and (min-width: $break-m ) {
				@include search-md-screen ();


    }
			@media only screen and (min-width: $break-l ) {
				display: none;
				position: inherit;
		}
			@media only screen and (min-width: $break-xl ) {
				display: flex;
				width: 340px;
		}

}

  .container-search {
		width: 100%;
		margin-left: -80px;
		margin-right: -180px;

		background-color: #E5E5E5;
			@media only screen and (min-width: $break-m ) {
				max-width: 300px;
				margin-left: 1rem;
				background-color: white;
}
}


//Navigation bar starts here



.main-navigation {
  background: #333645;
  border-bottom: solid 1px white;
  display: none;
  text-transform: uppercase;
  max-height: 95px;
  width: 100%;

	@media screen and (min-width: $break-l) {
		display: flex;
		justify-content: center;
		border: 2px #eb64ae solid;

	}
}

.container {
	border: 2px #2ECC71 solid;
	display: flex;
	justify-content: center;
	min-width: 1400px;
}

.li-main {
	display: inline-table;
	margin: 0 -5px;
}

.li-sub {
	display: none;
}

.web-design:hover {
	width: 100%;

	.li-web-design {
		background-color: $color-web-design;
		display: flex;
		margin-right: 300px;

		}
}

.it:hover {
	.li-it {
		background-color: $color-it;
		display: flex;
		align-content: flex-start;
		
		}
}

.telecoms:hover {

	.li-telecoms {
		background-color: $color-telecoms;
		display: block;

		}
}


.software:hover {

	.li-software {
		background-color: $color-software;
		display: block;
		

		}
}


.digital-marketing:hover {

	.li-digital-marketing {
		background-color: $color-digital-marketing;
		display: block;
		

		}
}


.cyber-security:hover {

	.li-cyber-security {
		background-color: $color-cyber-security;
		display: block;
		

		}
}

.btn-navbar {
	background-color: $color-navbar;
	width: 150px;
	line-height: 0.3;
	text-transform: uppercase;
	@media only screen and (min-width: $break-xl ) {
		width: 195px;
	}
}




//NAV BAR COLOURS
.btn-web-design:hover {
	background-color: $color-web-design;
	.fa-code {
		color: white;
	}
	.li-web-design {
		background-color: aqua;
		color: #F62459;
	}
}

.fa-code {
	color: $color-web-design;
}

.btn-it:hover {
	background-color: $color-it;
	.fa-tv {
		color: white;
	}
}

.fa-tv {
	color: $color-it;
}

.btn-telecoms:hover {
	background-color: $color-telecoms;
	.fa-phone-alt {
		color: white;
	}
}

.fa-phone-alt {
	color: $color-telecoms;
}

.btn-software:hover {
	background-color: $color-software;
	.fa-th {
		color: white;
	}
}

.fa-th {
	color: $color-software;
}

.btn-digital-marketing:hover {
	background-color: $color-digital-marketing;
	.fa-signal {
		color: white;
	}
}

.fa-signal {
	color: $color-digital-marketing;
}

.btn-cyber-security:hover {
	background-color: $color-cyber-security;
	.fa-shield-alt {
		color: white;
	}
}

.fa-shield-alt {
	color: $color-cyber-security;
}














