//Variables
$color-button-blue: #4183d7;
$color-button-gray: #999aa2;
$color-icon: white;
$color-news-1: #7E57A0;
$color-news-2: #2A6EC6;
$color-news-3: #566C88;




$color-navbar: #333645;
$color-web-design: #926FB1;
$color-it: #4183D7;
$color-telecoms: #D64541;
$color-software: #67809F;
$color-digital-marketing: #2ECC71;
$color-cyber-security: #F62459;

// Media queries
@media only screen and (max-width: 575px ) {} //xs
@media only screen and (min-width: 576px ) {} //s
@media only screen and (min-width: 768px ) {} //m
@media only screen and (min-width: 992px ) {} //l
@media only screen and (min-width: 1200px ) {}//xl



//Mixins
@mixin search-md-screen{
			max-width: 20vw;
				height: 45px;
				font-size: 0.9rem;
				color: $color-button-gray;
				border: 1px $color-button-gray solid;
				border-radius: 1%;
				background-color: white;
				position: absolute;
				left: 27rem;
}

@mixin navbar-flexbox-container {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0px;
	height: 45px;
	width: 100%;
	z-index: 100;

}

@mixin navbar-flexbox-items {
	margin: 5px;
	padding: 5px;
	display: block;
	}
	
@mixin btn {
	border: none;
	border-radius: 2%;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;
	margin: 5px 8px;
	}

@mixin cards {
	border: 1px rgb(187, 187, 187) solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 80%;
	margin: 1rem auto;
	text-align: center;
	padding: 2rem;
	}

@mixin news-title-style {
	font-size: 1rem;
	font-weight: 600;
	padding: 30px;
}

@mixin button-news-colour {
	color: white;
	margin: 30px;
	width: 190px;
}




//Breakpoints
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1200px;







body {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
}


	.header-container {
		border: 5px green solid;
		height: 12rem;
		 
		@media only screen and (min-width: $break-m ) {
			display: flex;
			justify-content: center;
			height: 8rem;
		}
      @media only screen and (min-width: $break-xl ) {
			display: flex;
			justify-content: center;
			height: 8rem;
		}
    }

  .btn {
	  @include btn;
			&-support {
				background-color: $color-button-blue;
				display: none;
				@media only screen and (min-width: $break-l ) {
					display: flex;
				}
		}
			&-contact {
				background-color: $color-button-gray;
				display: none;
				@media only screen and (min-width: $break-l ) {
					display: flex;
				}
		}
			@media only screen and (min-width: $break-xl ) {
				display: inline-block;
				width: 55rem;
        }
    }
 .btn-menu {
		color: white;
		width: 4.2rem;
		height: 3.5rem;
		font-size: 12px;
		text-transform: uppercase;
		background-color: black;
		border-radius: 7%;
		border: 2px black solid;
		position: relative;
		bottom: 5.7rem;
		left: 2rem;
			@media only screen and (min-width: $break-m ) {
				float: right;
				position: inherit;
  }
			@media only screen and (min-width: $break-xl ) {
				position: relative;
				top: 0.1rem;
				left: 12rem;
  }
  }
    
  .btn-menu:hover {
    background-color: darken($color: #333645, $amount: 10%)
    }

  .btn-top {
		display: flex;
		justify-content: space-around;
		border: 2px black solid;
		max-height: 100px;
		max-width: 100%;
		width: 100%;

		@media only screen and (min-width: $break-m ) {
		}

		@media only screen and (min-width: $break-l ) {
			
	}

			@media only screen and (min-width: $break-xl ) {
				height: 6rem;
				width: 45rem;
			
    }
    }

  .btn-support:hover{
    background-color: darken($color: $color-button-blue, $amount: 10%);    
}

  .btn-contact:hover{
    background-color: darken($color: $color-button-gray, $amount: 10%);
}
	a {
		color: white;
		text-decoration: none;
    }
    
  a:hover {
    color: white;
    }
    
  i {
    color: white;
    }
    
  .logo {
		padding: 15px 0 0 15px;
		margin-left: .1rem;
		@media only screen and (min-width: $break-m ) {
		}

		@media only screen and (min-width: $break-l ) {
			
	}

			@media only screen and (min-width: $break-xl ) {

			}
    }


  .fas {
    padding: 5px;
    }
    
 
  .fa-search {
		color: black;
		background-color: #E5E5E5;
		height: 20px;
		padding: 11px;
		margin-left: -9px;
			@media only screen and (min-width: $break-m ) {
				color: white;
				background-color: $color-button-gray;
				padding: 15px;
				height: 2.8rem;
				
		}
			@media only screen and (min-width: $break-xl ) {
				color: white;
				background-color: $color-button-gray;
				padding: 15px;
				height: 2.8rem;
    }
    }
	.fa-search:hover {
      @media only screen and (min-width: $break-m ) { 
        background-color: darken($color: $color-button-gray, $amount: 10%);
    }
	}
	
  .form-control {
		background-color: #e5e5e5;
		border: 10px green solid;
      @media only screen and (min-width: $break-m ) {
				@include search-md-screen ();


    }
			@media only screen and (min-width: $break-l ) {
				display: none;
				position: inherit;
		}
			@media only screen and (min-width: $break-xl ) {
				display: flex;
				width: 340px;
		}

}

  .container-search {
		width: 100%;
		margin-left: -80px;
		margin-right: -180px;

		background-color: #E5E5E5;
			@media only screen and (min-width: $break-m ) {
				max-width: 300px;
				margin-left: 1rem;
				background-color: white;
}
}


//NAVIGATION BAR



.main-navigation {
  background: #333645;
  border-bottom: solid 1px white;
  display: none;
  text-transform: uppercase;
  max-height: 95px;
  width: 100%;

	@media screen and (min-width: $break-l) {
		display: flex;
		justify-content: center;
		border: 2px #eb64ae solid;

	}
}

.container {
	border: 2px #2ECC71 solid;
	display: flex;
	justify-content: center;
	//min-width: 1400px;

}

.li-main {
	display: inline-table;
	margin: 0 -5px;
}

.li-sub {
	display: none;
	font-size: 1rem;
	@media screen and (min-width: $break-xl) {
		font-size: 0.9rem;
	}
}

.li-sub:hover {
	.li-main {
		background-color: $color-web-design;
	}
}

.web-design:hover {
	.web-design-ul { //flexbox container
		@include navbar-flexbox-container;
		background-color: $color-web-design;
	

	}
	.li-web-design { //flexbox items
		@include navbar-flexbox-items;
		
		}
	}

.it:hover {
	.it-ul {
		@include navbar-flexbox-container;
		background-color: $color-it;
	}
	.li-it {
		@include navbar-flexbox-items;	
		}
}

.telecoms:hover {
	.telecoms-ul {
		@include navbar-flexbox-container;
		background-color: $color-telecoms;

	}
	.li-telecoms {
		@include navbar-flexbox-items;
		}
}

.software:hover {
	.software-ul {
		@include navbar-flexbox-container;
		background-color: $color-software;

	}
	.li-software {
		@include navbar-flexbox-items;
		
		}
}

.digital-marketing:hover {
	.digital-marketing-ul {
		@include navbar-flexbox-container;
		background-color: $color-digital-marketing;

	}
	.li-digital-marketing {
		@include navbar-flexbox-items;
		
		}
}

.cyber-security:hover {
	.cyber-security-ul {
		@include navbar-flexbox-container;
		background-color: $color-cyber-security;

	}
	.li-cyber-security {
		@include navbar-flexbox-items;
		
		}
}

.btn-navbar {
	background-color: $color-navbar;
	width: 150px;
	line-height: 0.3;
	text-transform: uppercase;
	border-right: 2px gray solid;

	@media only screen and (min-width: $break-xl ) {
		width: 195px;
	}
}




//NAV BAR COLOURS
.btn-web-design:hover {
	background-color: $color-web-design;
	.fa-code {
		color: $color-icon;
	}
}

.fa-code {
	color: $color-web-design;
}

.btn-it:hover {
	background-color: $color-it;
	.fa-tv {
		color: $color-icon;
	}
}

.fa-tv {
	color: $color-it;
}

.btn-telecoms:hover {
	background-color: $color-telecoms;
	.fa-phone-alt {
		color: $color-icon;
	}
}

.fa-phone-alt {
	color: $color-telecoms;
}

.btn-software:hover {
	background-color: $color-software;
	.fa-th {
		color: $color-icon;
	}
}

.fa-th {
	color: $color-software;
}

.btn-digital-marketing:hover {
	background-color: $color-digital-marketing;
	.fa-signal {
		color: $color-icon;
	}
}

.fa-signal {
	color: $color-digital-marketing;
}

.btn-cyber-security:hover {
	background-color: $color-cyber-security;
	.fa-shield-alt {
		color: $color-icon;
	}
}

.fa-shield-alt {
	color: $color-cyber-security;
}

//MAIN PHOTO

.main-photo-container {
	border: 5px greenyellow solid;
	//width: 100%;
	display: flex;

	@media only screen and (min-width: $break-xl ) {

}	
}


.main-photo {
	border: 10px yellow solid;
	background-image: url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-3wAI.jpg");
	width: 100%;
	height: 550px;
	background-size: cover;

	@media only screen and (min-width: $break-xl ) {
		// position: absolute;
		// top: 14rem;
		//max-width: 1910px;

}
}

.gradient-div {
	border: 3px turquoise solid;
	position: absolute;
	top: 12rem;
	width: inherit;
	height: 550px;
	z-index: 10;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.85), transparent);
	
	@media only screen and (min-width: $break-m ) {
		top: 8rem;
	}

	@media only screen and (min-width: $break-l ) {
		top: 14rem;

	}

	@media only screen and (min-width: $break-xl ) {


	}
}

.text-block {
	text-align: center;
	border: 2px fuchsia solid;
	color: white;
	z-index: 12;
	position: relative;
	top: 10rem;

	@media only screen and (min-width: $break-l ) {
		position: absolute;
		margin: 1rem;
		top: 45%; /* Adjust this value to move the positioned div up and down */
		text-align: left;
		width: 60%; /* Set the width of the positioned div */
		padding-left: 0px;
		text-align: center;

	}
	@media only screen and (min-width: $break-xl ) {


	}
}

.btn-photo {
	@include btn;
	background-color: $color-web-design;


}
.btn-photo:hover {
	background-color: darken($color: $color-web-design, $amount: 10%);

}

h1 {
	text-transform: uppercase;
	font-size: 3.5rem;
}

h5 {
	line-height: 2.1rem;
	padding: 15px;

}




// CARDS



.card {
	border: 5px rgb(238, 50, 106) solid;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	@media only screen and (min-width: $break-l) {
		border: 5px rgb(37, 22, 248) solid;
		padding: 1rem 0.2rem;
		.card-text {
			max-width: 250px;
		}
	}
	@media only screen and (min-width: $break-xl) {
	
	
	}
}

.card-container {
	@include cards;
	//height: 312px;
	//width: 370px;
}


// @mixin cards {
// 	border: 1px rgb(187, 187, 187) solid;
// 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
// 	max-width: 80%;
// 	margin: auto;
// 	text-align: center;
// 	padding: 2rem;
// 	}

.btn-card {
	max-width: 12rem;
}



//Software card

.software-container:hover {
	background-color: $color-software;
	color: white; 
	h3 {
		color: white;
	}
	.btn-card-software {
		background-color: white;
		color: $color-software;
		.a-cards-software {
			color: $color-software;
		}
	}
	.fa-software-card {
		color: $color-software;
		background-color: white;
		border: 15px white solid;
	}
	.a-cards-software {
		color: white;
	}
}
.a-cards-software {
	color: black;
}

.fa-software-card {
	border-radius: 50%;
	border: 15px $color-software solid;
	background-color: $color-software;
	color: white;
}

.btn-card-software {
	color: white;
	background-color: $color-software;
	.a-cards-software {
		color: white;
	}
}

//IT card

.it-container:hover {
	background-color: $color-it;
	color: white; 
	h3 {
		color: white;
	}
	.btn-card-it {
		background-color: white;
		color: $color-it;
		.a-cards-it {
			color: $color-it;
		}
	}
	.fa-it-card {
		color: $color-it;
		background-color: white;
		border: 15px white solid;
	}
	.a-cards-it {
		color: white;
	
	}
}
.a-cards-it {
	color: black;
}

.fa-it-card {
	border-radius: 50%;
	border: 15px $color-it solid;
	background-color: $color-it;
	color: white;
}

.btn-card-it {
	color: white;
	background-color: $color-it;
	.a-cards-it {
		color: white;
	}
}


//Digital Marketing card

.digital-marketing-container:hover {
	background-color: $color-digital-marketing;
	color: white; 
	h3 {
		color: white;
	}
	.btn-card-digital-marketing {
		background-color: white;
		color: $color-digital-marketing;
		.a-cards-digital-marketing {
			color: $color-digital-marketing;
		}
	}
	.fa-digital-marketing-card {
		color: $color-digital-marketing;
		background-color: white;
		border: 15px white solid;
	}
	.a-cards-digital-marketing {
		color: white;
	
	}
}
.a-cards-digital-marketing {
	color: black;
}

.fa-digital-marketing-card {
	border-radius: 50%;
	border: 15px $color-digital-marketing solid;
	background-color: $color-digital-marketing;
	color: white;
}

.btn-card-digital-marketing {
	color: white;
	background-color: $color-digital-marketing;
	.a-cards-digital-marketing {
		color: white;
	}
}


//Telecoms card

.telecoms-container:hover {
	background-color: $color-telecoms;
	color: white; 
	h3 {
		color: white;
	}
	.btn-card-telecoms {
		background-color: white;
		color: $color-telecoms;
		.a-cards-telecoms {
			color: $color-telecoms;
		}
	}
	.fa-telecoms-card {
		color: $color-telecoms;
		background-color: white;
		border: 15px white solid;
	}
	.a-cards-telecoms {
		color: white;
	
	}
}
.a-cards-telecoms {
	color: black;
}

.fa-telecoms-card {
	border-radius: 50%;
	border: 15px $color-telecoms solid;
	background-color: $color-telecoms;
	color: white;
}

.btn-card-telecoms {
	color: white;
	background-color: $color-telecoms;
	.a-cards-telecoms {
		color: white;
	}
}

//Web design card

.web-design-container:hover {
	background-color: $color-web-design;
	color: white; 
	h3 {
		color: white;
	}
	.btn-card-web-design {
		background-color: white;
		color: $color-web-design;
		.a-cards-web-design {
			color: $color-web-design;
		}
	}
	.fa-web-design-card {
		color: $color-web-design;
		background-color: white;
		border: 15px white solid;
	}
	.a-cards-web-design {
		color: white;
	
	}
}
.a-cards-web-design {
	color: black;
}

.fa-web-design-card {
	border-radius: 50%;
	border: 15px $color-web-design solid;
	background-color: $color-web-design;
	color: white;
}

.btn-card-web-design {
	color: white;
	background-color: $color-web-design;
	.a-cards-web-design {
		color: white;
	}
}

//Cyber security card

.cyber-security-container:hover {
	background-color: $color-cyber-security;
	color: white; 
	h3 {
		color: white;
	}
	.btn-card-cyber-security {
		background-color: white;
		color: $color-cyber-security;
		.a-cards-cyber-security {
			color: $color-cyber-security;
		}
	}
	.fa-cyber-security-card {
		color: $color-cyber-security;
		background-color: white;
		border: 15px white solid;
	}
	.a-cards-cyber-security {
		color: white;
	
	}
}
.a-cards-cyber-security {
	color: black;
}

.fa-cyber-security-card {
	border-radius: 50%;
	border: 15px $color-cyber-security solid;
	background-color: $color-cyber-security;
	color: white;
}

.btn-card-cyber-security {
	color: white;
	background-color: $color-cyber-security;
	.a-cards-cyber-security {
		color: white;
	}
}

// Developer training card
.developer-training-container:hover {
	background-color: $color-web-design;
	color: white; 
	h3 {
		color: white;
	}
	.btn-card-developer-training {
		background-color: white;
		color: $color-web-design;
		.a-cards-it {
			color: $color-web-design;
		}
	}
	.fa-developer-training-card {
		color: $color-web-design;
		background-color: white;
		border: 15px white solid;
	}
	.a-cards-developer-training {
		color: white;
	
	}
}
.a-cards-developer-training {
	color: black;
}

.fa-developer-training-card {
	border-radius: 50%;
	border: 15px $color-web-design solid;
	background-color: $color-web-design;
	color: white;
}

.btn-card-developer-training {
	color: white;
	background-color: $color-web-design;
	.a-cards-developer-training {
		color: white;
	}
}



.dash {
	font-size: 1.5rem;
	font-weight: bold;
}

h3 {
	color: black;
	padding-top: 1rem;
}


// CULTURE PART

.brand-content {
	border: 2px #c55f00 solid;
	color: white;
	background-color: #333645;
	padding-left: 1rem;
	padding-top: 2rem;
	@media only screen and (min-width: $break-l) {
		background-image: url(https://www.netmatters.co.uk/assets/images/branded.png);
		padding: 2rem 5rem;
	}
}

.btn-culture {
	background-color: white;
	color: rgb(0, 0, 0);
	font-size: 1.063rem;
	width: 14rem;
	border-radius: 3px;
}

.btn-culture:hover {
	background-color: darken($color: white, $amount: 10%);
}

h2 {
	text-transform: uppercase;
}

.brand-text {
	max-width: 680px;
	@media only screen and (min-width: $break-xl) {
		max-width: 560px;
	}
}

// NEWS CARDS

.news-latest {
	text-transform: uppercase;
	font-size: 1.5rem;
	border-bottom: 6px black solid;	
	padding-bottom: 20px;
	width: 90px;
	margin-left: 10px;
	margin-top: 40px;
}

.news-cards-container {
	background: linear-gradient(to bottom, #F0F0F0, #FFFFFF);
	padding-top: 3rem;
	@media only screen and (min-width: $break-m) {
		display: flex;
		justify-content: center;
	}
}

.news-cards-content {
	@media only screen and (min-width: $break-m) {
		display: flex;
	}
}

.news-card {
	border: 1px $color-button-gray solid;
	width: 452px;
	margin: 1rem 1rem;
	background-color: white;
	@media only screen and (min-width: $break-s) {
		max-width: 90%;
		width: auto;
	}
	@media only screen and (min-width: $break-m) {
		// display: flex;
		// justify-content: center;
		max-width: 350px;
	}
		@media only screen and (min-width: $break-l) {
		max-width: 450px;
		overflow: hidden;

}
}

.news-card-3 {
	@media only screen and (min-width: $break-m) {
		display: none;
}
	@media only screen and (min-width: $break-xl) {
		display: block;
}}

.photo-hiring,
.photo-hand,
.photo-rob {
	width: 100%;
}

.photo-rob:hover,
.photo-hiring:hover,
.photo-hand:hover {
	@media only screen and (min-width: $break-l) {
		transform: scale(1.1);
		opacity: .7;
		transition: 0.4s;

	}
}

#news-1-title {
	color: $color-news-1;
	@include news-title-style;
}

#news-2-title {
	color: $color-news-2;
	@include news-title-style;
}

#news-3-title {
	color: $color-news-3;
	@include news-title-style;
}

#news-1-title:hover,
#news-2-title:hover,
#news-3-title:hover {
	text-decoration: underline;
}

#news-text {
	color: black;
	padding-left: 30px;
	font-size: 0.9rem;
}

.btn-news-card-1 {
	@include button-news-colour;
	background-color: $color-news-1;
}

.btn-news-card-2 {
	@include button-news-colour;
	background-color: $color-news-2;

}
.btn-news-card-3 {
	@include button-news-colour;
	background-color: $color-news-3;
}

.btn-news-card-1:hover {
	color: white;
	background-color: darken($color: $color-news-1, $amount: 10%);
}

.btn-news-card-2:hover {
	color: white;
	background-color: darken($color: $color-news-2, $amount: 10%);
}

.btn-news-card-3:hover {
	color: white;
	background-color: darken($color: $color-news-3, $amount: 10%);
}

.news-card hr {
	text-align: center;
	margin: 0 auto;
	width: 80%;
}

.photo-news {
	padding-top: 1rem;
}

.photo-news-1 {
	border-radius: 50%;
	margin: 1rem;
}

.posted-by {
	color: black;
	font-weight: 600;
	position: relative;
	bottom: 4.4rem;
	padding-left: 5.4rem;
}

.news-date {
	color: black;
	padding-left: 5.4rem;
	position: relative;
	bottom: 4.3rem;
}


// CLIENTS LOGOS

.clients {

	border: 2px yellow solid;
	display: none;
	padding: 2.5rem 18rem;
	background: linear-gradient(to bottom, #F0F0F0, #FFFFFF);
	height: 150px;
	@media only screen and (min-width: $break-m) {
		display: flex;
		justify-content: space-around;	

	}
}

.client-logo {
	transform: scale(0.7);
  filter: grayscale(100%);
	margin: 0 -10px;
	@media only screen and (min-width: $break-l) {
		transform: scale(1);
		margin: 0 15px;
	}
}

.client-logo:hover {
	filter: none;
	.text-holder {
		visibility: visible;
	}
	#beat-text {
		margin-left: -120px;
		@media only screen and (min-width: $break-l) {
			margin-left: -85px;
		}
		}
	#diver-text {
		margin-left: 0px;
		@media only screen and (min-width: $break-l) {
			margin-left: 20px;
		}
	}
}

.text-holder {
	visibility: hidden;
	width: 350px;
	background-color: #333645;
	color: white;
	text-align: center;
	padding: 0 1rem;
	position: absolute;
	z-index: 1;
	bottom: 205%;
	margin-left: -35px;
	font-weight: 400;
	font-size: 1.3rem; 
	@media only screen and (min-width: $break-l) {
		font-size: 0.9rem;
		bottom: 160%;
		margin-left: -35px;
		width: 250px;
	}
}

.client-logo-text {
	text-transform: capitalize;
	padding: 1rem 0 0 0;
}

.text-holder::after {
	content: "";
  position: absolute;
  top: 100%;
  left: 35%;
  margin-left: -5px;
  border-width: 50px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
	@media only screen and (min-width: $break-l) {
		margin-left: 15px;
		border-width: 30px;
		left: 30%;

	}
}


// NEWSLETTER FORM

.newsletter {
	border: 2px #030000 solid;
	padding: 1.5rem;
	background-color: #DDDDDD;
	font-weight: 600;
	display: flex;
	justify-content: center;
}

.form-content {
	border: 2px #4183D7 solid;
	@media only screen and (min-width: $break-l) {
	height: 100px;
	display: flex;
	justify-content: flex-end;
}
@media only screen and (min-width: $break-l) {

}
}

.name { //name and email position 
	margin-bottom: 3px;
	margin-top: 10px;
	display: flex;
	background-color: pink;

	@media only screen and (min-width: $break-l) {
		 min-width: 20rem;
		 position: relative;
		 left: 13rem;
		 height: 1rem;
		}
}

input[type=text],
input[type=email] {
	width: 100%;
	height: 50px;
	border: 1px #DDDDDD solid;
	@media only screen and (min-width: $break-l) {
		position: relative;
		top: 2rem;
		right: 7rem;
		width: 11000px;
		background-color: plum;
	}
	@media only screen and (min-width: $break-xl) {

	}
}


.newsletter-content {
	border: 2px #fffb1b solid;
	max-width: 850px;
}

.privacy-text {
	color: black;
	text-decoration: underline;
}
.privacy-text:hover {
	color: black;
}

.submit-container {
	border: 2px red solid;
	margin-left: -37px;
}

.form-container {
	border: 2px #2ECC71 solid;
	font-size: 2rem;
	padding: 0.5rem;
}

.checkbox-text {
	padding-left: 0;
	line-height: 1.8;
	position: relative;
	bottom: 2.5rem;
	left: 2.2rem;
	width: 80%;
}

.checkbox {
	height: 32px;
	width: 32px;
	margin-top: 10px;

}


input[type=submit] {
	background-color: #333645;
	color: white;
	text-transform: uppercase;
	padding: 10px;
	font-weight: 600;
	border-radius: 5px;

}


// input[type=text]:focus {
// 	border: 3px solid rgb(98, 205, 248);

// }

.asterix {
	color: red;
}




//CONTACT US FOOTER

.footer-container {
	border: 2px fuchsia solid;
	background-color: #333645;
	color: white;
	padding-left: .8rem;
	a:hover {
		text-decoration: underline;
	}
	@media only screen and (min-width: $break-m) {
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	@media only screen and (min-width: $break-xl) {
		padding: 2rem 15rem;
	
	
	}
}


// .footer-content {
// 	border: 2px #2ECC71 solid;
// 	display: flex;
// 	flex-direction: column;
// 	@media only screen and (min-width: $break-m) {



// 	}
// 	@media only screen and (min-width: $break-xl) {



// 	}
// }

.contact-us {
	border: 2px khaki solid;
	list-style-type: none;
	padding-left: 0;

	@media only screen and (min-width: $break-m) {
		width: 350px;
			}	
}

.about-netmatters {
	border: 2px red solid;
	list-style-type: none;
	padding-left: 0;
	@media only screen and (min-width: $break-m) {
		width: 350px;
	}
}

.website {
	border: 2px rgb(0, 140, 255) solid;
	list-style-type: none;
	padding-left: 0;	
	@media only screen and (min-width: $break-m) {
		width: 350px;
	}
}

.social-media {
	border: 2px rgb(250, 95, 255) solid;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 635px;
	@media only screen and (min-width: $break-m) {
		max-width: 400px;

		// position: relative;
		// bottom: 7rem;
		// left: 22rem;
	}
	@media only screen and (min-width: $break-l) {
		
	
	}
}

.social-media-logos {
	border: 2px rgba(255, 255, 255, 0) solid;
	transform: scale(2);
	margin: 3rem;
	padding: 0.1rem 3.1rem;
	background-color: darken($color: #333645, $amount: 8%);
	@media only screen and (min-width: $break-m) {
		margin: 50px;
		padding: 0.1rem 2rem;
	}
}

.social-media-text {
	border: 3px mediumspringgreen solid;
	@media only screen and (min-width: $break-m) {
	position: relative;
	right: 11.5rem;
	height: 0.1px;
	}
	@media only screen and (min-width: $break-xl) {
		position: relative;
		right: 300.5rem;
		height: 0.1px;
	
}}

h4 {
	text-transform: uppercase;
	padding-bottom: 1rem;
	padding-top: 1.5rem;
}

.social-media-logos-fb:hover {
	background-color: #4064AC;
}


.social-media-logos-twitter:hover {
	background-color: #1C9CEA;
}

.social-media-logos-insta:hover {
	background-color: #E1306C;
}

.social-media-logos-linkedin:hover {
	background-color: #2867B2;
}
.social-logo {
	color: white;
}




//AWARDS LOGOS

.awards {
	display: none;
@media only screen and (min-width: $break-m) {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
}

.partners-section {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 2rem 0;
	max-width: 1000px;
}

.partners-section-item {
	transform: scale(0.8);
  filter: grayscale(100%);
	@media only screen and (min-width: $break-l) {
		transform: scale(1.1);
	}
}

.partners-section-item:hover {
		filter: none;
	}

	.google {
		filter: none;
	}
	
.awards-section {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 2rem;
	max-width: 1000px;
}

.awards-section-item {
	transform: scale(0.8);
  filter: grayscale(100%);
	@media only screen and (min-width: $break-l) {
		transform: scale(1.1);
	}
}	

.awards-section-item:hover {
	filter: none;
}
