@media only screen and (max-width: 568px) {
  .header-container {
    border: 5px green solid;
  }
  .btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 5px 8px;
  }
  .btn-support {
    background-color: #4183d7;
    display: none;
  }
  .btn-contact {
    background-color: #999aa2;
    display: none;
  }
  .btn-contact:hover {
    background-color: #7e808a;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
  i {
    color: white;
  }
  .logo {
    padding-top: 15px;
    margin-left: .1rem;
  }
  .header-container {
    border: 5px green solid;
  }
  .btn-menu {
    color: white;
    width: 4.2rem;
    height: 3.5rem;
    font-size: 12px;
    text-transform: uppercase;
    background-color: black;
    position: relative;
    top: -9rem;
    left: 12rem;
    border-radius: 7%;
    border: 2px black solid;
  }
  .btn-menu:hover {
    background-color: #1d1f28;
  }
  .fa-search {
    color: black;
    background-color: #E5E5E5;
    height: 20px;
    padding: 15px;
    margin-left: -9px;
  }
  .form-control {
    background-color: #e5e5e5;
  }
  .container-search {
    width: 470px;
    margin-left: -25px;
    background-color: #E5E5E5;
    border: 1px red solid;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-family: Poppins,sans-serif;
    font-size: 1rem;
  }
  .header-container {
    border: 5px green solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.2rem;
    margin: 5px 8px;
  }
  .btn-support {
    background-color: #4183d7;
  }
  .btn-contact {
    background-color: #999aa2;
  }
  .btn-top {
    border: 2px black solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .btn-support:hover {
    background-color: #286abd;
  }
  .btn-contact:hover {
    background-color: #7e808a;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
  i {
    color: white;
  }
  .logo {
    padding-top: 15px;
  }
  .header-container {
    border: 5px green solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fas {
    padding: 5px;
  }
  .fa-search {
    color: white;
    background-color: #999aa2;
    padding: 15px;
    margin-left: -8px;
  }
  .fa-search:hover {
    background-color: #7e808a;
  }
  .container-search {
    width: 300px;
    margin-right: 10px;
  }
  .form-control {
    width: 240px;
    height: 55px;
    border: 1px #999aa2 solid;
    border-radius: 1%;
  }
  .btn-menu {
    color: white;
    width: 4.2rem;
    height: 3.5rem;
    font-size: 12px;
    text-transform: uppercase;
    background-color: black;
    position: relative;
    top: 0.44rem;
    border-radius: 7%;
    border: 2px black solid;
  }
  .btn-menu:hover {
    background-color: #1d1f28;
  }
}
/*# sourceMappingURL=style.css.map */